.background {
    background-color: lightblue;
}

.room-title {
    padding-left: 10px;
}

.output-box {
    position: fixed;
    top: 15%;
    width: 30%;
}

#bot__output {
    left: 15%;
}

#user__output {
    right: 15%;
}

#user__input {
    position: fixed;
    top: 50%;
    right: 15%;
    width: 30%;
}
#user__input input {
    background-color: white;
    height: 60px;
    width: 100%;
    padding: 10px;
}

.conversation-container {
    background-color: white;
    height: 200px;
    padding: 10px;
}

#chatbot-image {
    position: fixed;
    top: 50%;
    left: 5%;
}
#chatbot-image img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
